
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

html {
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    'Lato', sans-serif;
  --mono-font:       'Fira Code', monospace;
  --body-font:       'Roboto', sans-serif;
  --navbar-font:     'Lato' sans-serif;  /* websites + blogs only */
}

:root {
  --primary-orange: #E06E53;
  --secondary-color: #60a3a3;
  --main-font: 'Roboto', sans-serif;
  --subheader-font: 'Roboto', sans-serif;
  --mono-font: 'Fira Mono', monospace;
  --header-font: 'Lato' sans-serif;
}

.navbar-dark {
    background-image: linear-gradient(to bottom, #fef7fa, #fce7f0);
}

.navbar-dark .navbar-brand {
    color: #222322;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #60a3a3;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--secondary-color) !important;
}

.navbar-title:hover {
    color: var(--secondary-color) !important;
}



.hello-quarto {
  padding-bottom: 1rem;
}

@media (min-width: 600px) {
.hello-quarto-banner {
  display: inline-flex;
  align-content: center;
  justify-content: center;
}

.hello-quarto-banner h1 {
  margin-right: 40px;
}

.hello-quarto-banner ul {

}
}

.hello-quarto-banner .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  border: none;
  border-bottom: 2px solid #39729E !important;
  color: #39729E;
  background-color: transparent;

}

.hello-quarto-banner .nav-pills button {
  width: 125px;
}

.hello-quarto .tab-content {
  border: none;
  padding: 0;
  color: rgb(84, 85, 85);
}

.hello-quarto .tab-content p {
  font-size: 1.1em;
  margin-bottom: 1.5em;
}

.hello-quarto div.sourceCode {
  background-color: white;
  border: 1px solid #dee2e6;
}

.hello-output {
  background-color: white;
  border: 1px solid #dee2e6;
  max-height: 660px;
}

div.sourceCode {
    background-color: white;
}
